{% extends 'base.html.twig' %}

{% block title %}Détails du jeu{% endblock %}

{% block body %}
    <h1>{{ game.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>{{ game.maxPlayers }}</td>
            </tr>
            <tr>
                <th>Type de jeu</th>
                <td>{{ game.gameType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_game_index') }}" class="btn btn-secondary">Retour à la liste</a>
    <a href="{{ path('app_game_edit', {'id': game.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
